@media only screen and (max-width: 600px) {...}
/*Default Element*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../assets/47.jpg');
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 0;
    line-height: 1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset {
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #17594A;
}

button {
    background-color: #019c7d;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-left: 5px;
    box-shadow: 0 3px #999;
}

button:hover {
    background-color: #016a55;
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px #666;
    background-color: #016a55;
}

main {
    display: flex;
    justify-content: space-evenly;
}

input {
    outline: none;
    font-size: large;
    border-radius: 12px;
    border: solid #014337;
    cursor: pointer;
    margin-bottom: 5px;
}

input:focus {
    border: solid #002e26;
}

textarea {
    outline: none;
    font-size: large;
    border-radius: 12px;
    border: solid #014337;
    cursor: pointer;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    margin-top: -8px;
    background-blend-mode: hue;
}

legend {
    background-color: #019c7d;
    border: solid #014337;
    border-radius: 8px;
    border: 10px groove (internal value);
}

/*ID*/
#OutputValCF {
    cursor: default;
}

#OutputValCK {
    cursor: default;
}

#OutputValKF {
    cursor: default;
}

#ConvSeq {
    margin-bottom: 5px;
    margin-top: 5px;
}

#CalculationCF {
    cursor: default;
}

#CalculationCK {
    cursor: default;
}

#CalculationKF {
    cursor: default;
}

/*Class*/
.openpar {
    color: antiquewhite;
    text-align: center;
}

.InputButtonSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.scientific {
    font-size: 130%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.numerical {
    font-size: 130%;
    font-family: 'Times New Roman', Times, serif;
}

.operator {
    vertical-align: text-top;
}

.descflex {
    display: flex;
}

.SubTilCF {
    display: flex;
    flex-direction: row;
}

.SubContCF {
    display: flex;
    flex-direction: row;
}

.SubTilCF {
    color:antiquewhite;
}

.SubContCF {
    color:antiquewhite;
}

